**Loading the Datasets**

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import sklearn as sk

In [3]:
train = pd.read_csv(r'C:\Users\Ronit Jariwala\Documents\Stuff\ML Project\F1 Predictions\train.csv')
train.head()

C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\2887844615.py:1: DtypeWarning: Columns (4,13,14,16,47) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv(r'C:\Users\Ronit Jariwala\Documents\Stuff\ML Project\F1 Predictions\train.csv')

,resultId,racerId,driverId,constructorId,number,grid,position_x,positionText_x,positionOrder,points,...,points_y,position,positionText_y,wins,constructorRef,company,nationality_y,url,status,result_driver_standing
0,20025,833,642,51,2,1,1,1,1,9.0,...,3.33,3,3,0,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Finished,922731975
1,20025,833,642,51,2,1,1,1,1,9.0,...,6.33,3,3,0,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Finished,923172525
2,20025,833,642,51,2,1,1,1,1,9.0,...,6.33,4,4,0,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Finished,923833350
3,20025,833,642,51,2,1,1,1,1,9.0,...,10.33,3,3,0,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Finished,925195050
4,20025,833,642,51,2,1,1,1,1,9.0,...,10.33,4,4,0,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Finished,926576775

In [4]:
test = pd.read_csv(r'C:\Users\Ronit Jariwala\Documents\Stuff\ML Project\F1 Predictions\test.csv')
test.head()

C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\2250424345.py:1: DtypeWarning: Columns (13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  test = pd.read_csv(r'C:\Users\Ronit Jariwala\Documents\Stuff\ML Project\F1 Predictions\test.csv')

,resultId,racerId,driverId,constructorId,number,grid,position_x,positionText_x,positionOrder,points,...,driverStandingsId,raceId_y,points_y,wins,constructorRef,company,nationality_y,url,status,result_driver_standing
0,23949,997,4,1,14,13,8,8,8,4.0,...,12474,93,16.0,0,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,+1 Lap,298739826
1,23949,997,4,1,14,13,8,8,8,4.0,...,12494,94,21.0,0,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,+1 Lap,299218806
2,23949,997,4,1,14,13,8,8,8,4.0,...,12514,95,21.0,0,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,+1 Lap,299697786
3,23949,997,4,1,14,13,8,8,8,4.0,...,12534,96,25.0,0,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,+1 Lap,300176766
4,23949,997,4,1,14,13,8,8,8,4.0,...,12554,97,25.0,0,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,+1 Lap,300655746

In [5]:
train.shape

(2830101, 55)

In [6]:
test.shape

(352928, 53)

In [7]:
# Find columns that are in train but not in test
missing_in_test = set(train.columns) - set(test.columns)

# Print the missing columns
print("Columns present in train but absent in test:")
print(missing_in_test)

Columns present in train but absent in test:
{'position', 'positionText_y'}

In [8]:
train.isnull().sum()

resultId                  0
racerId                   0
driverId                  0
constructorId             0
number                    0
grid                      0
position_x                0
positionText_x            0
positionOrder             0
points                    0
laps                      0
time_x                    0
timetaken_in_millisec     0
fastestLap                0
rank                      0
fastestLapTime            0
max_speed                 0
statusId                  0
year                      0
round                     0
circuitId                 0
grand_prix                0
date                      0
time_y                    0
url_x                     0
fp1_date                  0
fp1_time                  0
fp2_date                  0
fp2_time                  0
fp3_date                  0
fp3_time                  0
quali_date                0
quali_time                0
sprint_date               0
sprint_time               0
driverRef                 0
driver_num                0
driver_code               0
forename                  0
surname                   0
dob                       0
nationality               0
url_y                     0
driverStandingsId         0
raceId_y                  0
points_y                  0
position                  0
positionText_y            0
wins                      0
constructorRef            0
company                   0
nationality_y             0
url                       0
status                    0
result_driver_standing    0
dtype: int64

In [9]:
columns_with_nulls = ['status', 'result_driver_standing']
for column in columns_with_nulls:
    train[column].fillna(train[column].mode()[0], inplace=True)
    test[column].fillna(test[column].mode()[0], inplace=True)

C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\3163480328.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train[column].fillna(train[column].mode()[0], inplace=True)
C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\3163480328.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test[column].fillna(test[column].mode()[0], inplace=True)
C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\3163480328.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train[column].fillna(train[column].mode()[0], inplace=True)
C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\3163480328.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test[column].fillna(test[column].mode()[0], inplace=True)

In [10]:
test.isnull().sum()

resultId                  0
racerId                   0
driverId                  0
constructorId             0
number                    0
grid                      0
position_x                0
positionText_x            0
positionOrder             0
points                    0
laps                      0
time_x                    0
timetaken_in_millisec     0
fastestLap                0
rank                      0
fastestLapTime            0
max_speed                 0
statusId                  0
year                      0
round                     0
circuitId                 0
grand_prix                0
date                      0
time_y                    0
url_x                     0
fp1_date                  0
fp1_time                  0
fp2_date                  0
fp2_time                  0
fp3_date                  0
fp3_time                  0
quali_date                0
quali_time                0
sprint_date               0
sprint_time               0
driverRef                 0
driver_num                0
driver_code               0
forename                  0
surname                   0
dob                       0
nationality               0
url_y                     0
driverStandingsId         0
raceId_y                  0
points_y                  0
wins                      0
constructorRef            0
company                   0
nationality_y             0
url                       0
status                    0
result_driver_standing    0
dtype: int64

In [11]:
def count_backslash_n(df):
    return (df == '\\N').sum()

In [12]:
train_backslash_n_counts = count_backslash_n(train)
print("Occurrences of '\\N' in Train Dataset:")
print(train_backslash_n_counts)

Occurrences of '\N' in Train Dataset:
resultId                        0
racerId                         0
driverId                        0
constructorId                   0
number                        160
grid                            0
position_x                1125357
positionText_x                  0
positionOrder                   0
points                          0
laps                            0
time_x                    1871686
timetaken_in_millisec     1871741
fastestLap                2112010
rank                      2105375
fastestLapTime            2112010
max_speed                 2112010
statusId                        0
year                            0
round                           0
circuitId                       0
grand_prix                      0
date                            0
time_y                    2150026
url_x                           0
fp1_date                  2830101
fp1_time                  2830101
fp2_date                  2830101
fp2_time                  2830101
fp3_date                  2830101
fp3_time                  2830101
quali_date                2830101
quali_time                2830101
sprint_date               2830101
sprint_time               2830101
driverRef                       0
driver_num                2354922
driver_code               1731200
forename                        0
surname                         0
dob                             0
nationality                     0
url_y                           0
driverStandingsId               0
raceId_y                        0
points_y                        0
position                        0
positionText_y                  0
wins                            0
constructorRef                  0
company                         0
nationality_y                   0
url                             0
status                          0
result_driver_standing          0
dtype: int64

In [13]:
# Count the occurrences of '\N' in each column of the test dataset
test_backslash_n_counts = count_backslash_n(test)
print("\nOccurrences of '\\N' in Test Dataset:")
print(test_backslash_n_counts)

Occurrences of '\N' in Test Dataset:
resultId                       0
racerId                        0
driverId                       0
constructorId                  0
number                         0
grid                           0
position_x                 45237
positionText_x                 0
positionOrder                  0
points                         0
laps                           0
time_x                    145425
timetaken_in_millisec     145425
fastestLap                 12225
rank                           0
fastestLapTime             12225
max_speed                  12225
statusId                       0
year                           0
round                          0
circuitId                      0
grand_prix                     0
date                           0
time_y                         0
url_x                          0
fp1_date                  177237
fp1_time                  249976
fp2_date                  177237
fp2_time                  249976
fp3_date                  204987
fp3_time                  267989
quali_date                177237
quali_time                249976
sprint_date               325178
sprint_time               334915
driverRef                      0
driver_num                     0
driver_code                    0
forename                       0
surname                        0
dob                            0
nationality                    0
url_y                          0
driverStandingsId              0
raceId_y                       0
points_y                       0
wins                           0
constructorRef                 0
company                        0
nationality_y                  0
url                            0
status                         0
result_driver_standing         0
dtype: int64

In [14]:
columns_to_drop_train = train_backslash_n_counts[train_backslash_n_counts > 100].index
#dropping the columns having \N greater than 100
train_temp = train.drop(columns=columns_to_drop_train)
train_temp.columns

Index(['resultId', 'racerId', 'driverId', 'constructorId', 'grid',
       'positionText_x', 'positionOrder', 'points', 'laps', 'statusId', 'year',
       'round', 'circuitId', 'grand_prix', 'date', 'url_x', 'driverRef',
       'forename', 'surname', 'dob', 'nationality', 'url_y',
       'driverStandingsId', 'raceId_y', 'points_y', 'position',
       'positionText_y', 'wins', 'constructorRef', 'company', 'nationality_y',
       'url', 'status', 'result_driver_standing'],
      dtype='object')

In [15]:
# Specify the columns to include
columns_to_include = ["grid", "positionText_x", "points", "laps", "round", "nationality", "points_y", "position", "wins", "company", "status"]

# Select the specified columns from the train dataset
train_cleaned = train[columns_to_include]

# Display the cleaned train dataset
print("Train Dataset with specified columns:")
train_cleaned

Train Dataset with specified columns:

,grid,positionText_x,points,laps,round,nationality,points_y,position,wins,company,status
0,1,1,9.0,70,1,Italian,3.33,3,0,Alfa Romeo,Finished
1,1,1,9.0,70,1,Italian,6.33,3,0,Alfa Romeo,Finished
2,1,1,9.0,70,1,Italian,6.33,4,0,Alfa Romeo,Finished
3,1,1,9.0,70,1,Italian,10.33,3,0,Alfa Romeo,Finished
4,1,1,9.0,70,1,Italian,10.33,4,0,Alfa Romeo,Finished
...,...,...,...,...,...,...,...,...,...,...,...
2830096,4,2,18.0,71,19,Australian,61.50,4,2,Red Bull,Finished
2830097,4,2,18.0,71,19,Australian,69.50,4,2,Red Bull,Finished
2830098,4,2,18.0,71,19,Australian,4.00,8,0,Red Bull,Finished
2830099,4,2,18.0,71,19,Australian,6.00,10,0,Red Bull,Finished
2830100,4,2,18.0,71,19,Australian,24.00,8,0,Red Bull,Finished

In [16]:
train_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   grid            int64
 1   positionText_x  object
 2   points          float64
 3   laps            int64
 4   round           int64
 5   nationality     object
 6   points_y        float64
 7   position        int64
 8   wins            int64
 9   company         object
 10  status          object
dtypes: float64(2), int64(5), object(4)
memory usage: 237.5+ MB

In [17]:
# List of columns you are interested in
columns_of_interest = ['positionText_x', 'nationality', 'company','status']

# Find and print unique values for each specified column
for column in columns_of_interest:
    unique_values = train_cleaned[column].unique()
    print(f"Unique values in column '{column}':\n", unique_values, "\n")

Unique values in column 'positionText_x':
 ['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' 'R' 'N' 'W' '12' '13' '14'
 '15' '16' '17' '18' '19' '20' '21' '22' '23' '24' 'D' 'F' '25' '26' '27'
 '28' '29' '30' '31' '32' '33' 'E']

Unique values in column 'nationality':
 ['Italian' 'British' 'French' 'Belgian' 'Argentine' 'Irish' 'Thai' 'Swiss'
 'Monegasque' 'American' 'German' 'Brazilian' 'Spanish' 'Australian'
 'Uruguayan' 'East German' 'Dutch' 'Swedish' 'Argentine-Italian'
 'New Zealander' 'Portuguese' 'Venezuelan' 'American-Italian'
 'South African' 'Mexican' 'Canadian' 'Rhodesian' 'Austrian'
 'Liechtensteiner' 'Danish' 'Finnish' 'Japanese' 'Chilean' 'Colombian'
 'Czech' 'Malaysian' 'Hungarian' 'Indian' 'Polish' 'Russian']

Unique values in column 'company':
 ['Alfa Romeo' 'Talbot-Lago' 'ERA' 'Maserati' 'Alta' 'Ferrari' 'Simca'
 'Cooper' 'Kurtis Kraft' 'Deidt' 'Moore' 'Lesovsky' 'Nichels' 'Marchese'
 'Stevens' 'Langley' 'Ewing' 'Rae' 'Olson' 'Wetteroth' 'Snowberger'
 'Adams' 'Watson' 'Milano' 'HWM' 'Veritas' 'Sherman' 'Schroeder' 'Kuzma'
 'Pawl' 'Hall' 'Bromme' 'Trevis' 'BRM' 'OSCA' 'Gordini' 'Frazer Nash'
 'AFM' 'Aston Butterworth' 'Connaught' 'BMW' 'Cisitalia' 'Turner'
 'Del Roy' 'EMW' 'Phillips' 'Pankratz' 'Mercedes' 'Vanwall' 'Klenk'
 'Lancia' 'Epperly' 'Arzani-Volpini' 'Bugatti' 'Emeryson' 'Dunn' 'Porsche'
 'Team Lotus' 'Cooper-Climax' 'Cooper-Maserati' 'Elder' 'Christensen'
 'Sutton' 'Aston Martin' 'Cooper-Borgward' 'JBW' 'Fry' 'Cooper-OSCA'
 'Tec-Mec' 'Behra-Porsche' 'Scarab' 'Cooper-Castellotti' 'Meskowski'
 'Lotus-Climax' 'De Tomaso-Osca' 'Gilby' 'Ferguson' 'MBM' 'Lotus-Maserati'
 'De Tomaso-Alfa Romeo' 'Lola' 'Lotus-BRM' 'ENB' 'Brabham' 'De Tomaso'
 'Lotus-Borgward' 'LDS' 'Cooper-Alfa Romeo' 'ATS' 'Scirocco' 'BRP'
 'De Tomaso-Ferrari' 'Stebro' 'Lotus-Ford' 'Brabham-Climax' 'Brabham-BRM'
 'Brabham-Ford' 'Honda' 'Derrington' 'LDS-Alfa Romeo' 'Cooper-Ford'
 'LDS-Climax' 'RE' 'Brabham-Repco' 'McLaren-Ford' 'Eagle-Climax'
 'McLaren-Serenissima' 'Cooper-Ferrari' 'Shannon' 'Eagle-Weslake'
 'McLaren-BRM' 'Matra' 'Cooper-ATS' 'Protos' 'Matra-Ford' 'Cooper-BRM'
 'McLaren' 'BRM-Ford' 'March' 'McLaren-Alfa Romeo' 'Bellasi' 'Surtees'
 'Tyrrell' 'March-Ford' 'March-Alfa Romeo' 'Lotus-Pratt &amp; Whitney'
 'Tecno' 'Politoys' 'Connew' 'Iso Marlboro' 'Shadow' 'Ensign' 'Hesketh'
 'Trojan' 'Amon' 'Token' 'Lyncar' 'Maki' 'Parnelli' 'Penske' 'Shadow-Ford'
 'Williams' 'Fittipaldi' 'Embassy Hill' 'Shadow-Matra' 'Wolf'
 'Brabham-Alfa Romeo' 'Ligier' 'Boro' 'Kojima' 'LEC' 'Renault' 'McGuire'
 'Apollon' 'Merzario' 'Theodore' 'Arrows' 'Martini' 'Kauhsen' 'Rebaque'
 'Osella' 'Toleman' 'RAM' 'Spirit' 'Minardi' 'Zakspeed' 'Benetton' 'AGS'
 'Larrousse' 'Coloni' 'Rial' 'Euro Brun' 'Dallara' 'Onyx' 'Leyton House'
 'Life' 'Lambo' 'Jordan' 'Footwork' 'Fondmetal' 'Andrea Moda' 'Sauber'
 'Simtek' 'Pacific' 'Forti' 'Prost' 'Stewart' 'BAR' 'Jaguar' 'Toyota'
 'Red Bull' 'Toro Rosso' 'BMW Sauber' 'MF1' 'Super Aguri' 'Spyker MF1'
 'Spyker' 'Force India' 'Brawn' 'Lotus' 'HRT' 'Virgin' 'Lotus F1'
 'Marussia' 'Caterham']

Unique values in column 'status':
 ['Finished' '+2 Laps' '+3 Laps' '+5 Laps' '+6 Laps' 'Oil leak'
 'Not classified' 'Out of fuel' 'Engine' 'Transmission' 'Clutch'
 'Oil pressure' 'Gearbox' 'Supercharger' '+1 Lap' 'Axle' 'Accident'
 'Collision' 'Spun off' '+8 Laps' '+10 Laps' '+11 Laps' '+12 Laps'
 '+13 Laps' '+15 Laps' '+16 Laps' 'Oil line' 'Wheel bearing' 'Stalled'
 '+4 Laps' '+7 Laps' 'Suspension' 'Oil pump' 'Oil pipe' 'Overheating'
 'Fuel pump' 'Radiator' 'Retired' 'Brakes' 'Water pipe' 'Withdrew'
 'Magneto' 'Ignition' 'Fuel system' '+20 Laps' 'Heat shield fire'
 'Fuel leak' '+19 Laps' '+22 Laps' '+9 Laps' 'Wheel' 'Halfshaft'
 'Steering' '+18 Laps' 'Differential' 'Turbo' 'Exhaust' '+14 Laps'
 'Disqualified' 'Electrical' 'Did not qualify' '+17 Laps' '+24 Laps'
 'Throttle' 'Physical' '+46 Laps' 'Injection' 'Fuel pressure' 'Tyre'
 'Chassis' 'Water leak' 'Water pump' 'Distributor' 'Handling' '+30 Laps'
 '+44 Laps' 'Vibrations' 'Puncture' 'Battery' '+21 Laps' '+23 Laps'
 '+25 Laps' 'Driver unwell' '+29 Laps' 'Did not prequalify' 'Alternator'
 'Injury' 'Broken wing' 'Fuel pipe' 'Fatal accident' 'Eye injury'
 'Injured' 'Mechanical' 'Spark plugs' 'CV joint' 'Excluded' 'Driveshaft'
 'Hydraulics' 'Fire' 'Safety belt' '107% Rule' 'Fuel' 'Underweight'
 'Rear wing' 'Safety concerns' 'Not restarted' 'Crankshaft' 'Fuel rig'
 'Wheel rim' 'Power loss' 'Safety' 'Electronics' 'Drivetrain'
 'Launch control' 'Pneumatics' 'Engine fire' '+26 Laps' 'Tyre puncture'
 'Wheel nut' 'Technical' 'Track rod' 'Front wing' 'Water pressure'
 'Refuelling' 'Driver Seat' '+42 Laps' 'Engine misfire' 'Collision damage']

In [18]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
columns_to_encode = ['positionText_x', 'nationality', 'company', 'status']
for column in columns_to_encode:
    train_cleaned[column] = label_encoder.fit_transform(train_cleaned[column])

print(train_cleaned.head())

C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\3194724652.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_cleaned[column] = label_encoder.fit_transform(train_cleaned[column])
C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\3194724652.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_cleaned[column] = label_encoder.fit_transform(train_cleaned[column])
C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\3194724652.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_cleaned[column] = label_encoder.fit_transform(train_cleaned[column])

   grid  positionText_x  points  laps  round  nationality  points_y  position  \
0     1               0     9.0    70      1           22      3.33         3
1     1               0     9.0    70      1           22      6.33         3
2     1               0     9.0    70      1           22      6.33         4
3     1               0     9.0    70      1           22     10.33         3
4     1               0     9.0    70      1           22     10.33         4

   wins  company  status
0     0        4      62
1     0        4      62
2     0        4      62
3     0        4      62
4     0        4      62

C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\3194724652.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_cleaned[column] = label_encoder.fit_transform(train_cleaned[column])

**Testing Data**

In [19]:
columns_to_include = ["grid", "positionText_x", "points", "laps", "round", "nationality", "points_y", "wins", "company", "status"]
test_cleaned = test[columns_to_include]
test_cleaned

,grid,positionText_x,points,laps,round,nationality,points_y,wins,company,status
0,13,8,4.0,70,9,Spanish,16.0,0,McLaren,+1 Lap
1,13,8,4.0,70,9,Spanish,21.0,0,McLaren,+1 Lap
2,13,8,4.0,70,9,Spanish,21.0,0,McLaren,+1 Lap
3,13,8,4.0,70,9,Spanish,25.0,0,McLaren,+1 Lap
4,13,8,4.0,70,9,Spanish,25.0,0,McLaren,+1 Lap
...,...,...,...,...,...,...,...,...,...,...
352923,5,R,0.0,0,12,Australian,5.0,0,McLaren,Collision damage
352924,5,R,0.0,0,12,Australian,5.0,0,McLaren,Collision damage
352925,5,R,0.0,0,12,Australian,17.0,0,McLaren,Collision damage
352926,5,R,0.0,0,12,Australian,27.0,0,McLaren,Collision damage
352927,5,R,0.0,0,12,Australian,34.0,0,McLaren,Collision damage

In [20]:
test_backslash_n_counts = count_backslash_n(test_cleaned)
print("Occurrences of '\\N' in Train Dataset:")
print(test_backslash_n_counts)

Occurrences of '\N' in Train Dataset:
grid              0
positionText_x    0
points            0
laps              0
round             0
nationality       0
points_y          0
wins              0
company           0
status            0
dtype: int64

In [21]:
for column in columns_to_encode:
    test_cleaned[column] = label_encoder.fit_transform(test_cleaned[column])

print(test_cleaned.head())

C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\2003949884.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cleaned[column] = label_encoder.fit_transform(test_cleaned[column])
C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\2003949884.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cleaned[column] = label_encoder.fit_transform(test_cleaned[column])

   grid  positionText_x  points  laps  round  nationality  points_y  wins  \
0    13              18     4.0    70      9           19      16.0     0
1    13              18     4.0    70      9           19      21.0     0
2    13              18     4.0    70      9           19      21.0     0
3    13              18     4.0    70      9           19      25.0     0
4    13              18     4.0    70      9           19      25.0     0

   company  status
0        7       0
1        7       0
2        7       0
3        7       0
4        7       0

C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\2003949884.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cleaned[column] = label_encoder.fit_transform(test_cleaned[column])
C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\2003949884.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cleaned[column] = label_encoder.fit_transform(test_cleaned[column])

**Working with validation dataset to check rmse**

In [22]:
validation = pd.read_csv(r'C:\Users\Ronit Jariwala\Documents\Stuff\ML Project\F1 Predictions\validation.csv')
columns_to_include = ["grid", "positionText_x", "points", "laps", "round", "nationality", "points_y", "position", "wins", "company", "status"]
validation_cleaned = validation[columns_to_include]
validation_cleaned

for column in columns_to_encode:
    validation_cleaned[column] = label_encoder.fit_transform(validation_cleaned[column])

print(validation_cleaned.head())

X_val = validation_cleaned.drop('position', axis=1)
y_val = validation_cleaned['position']

C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\2041131606.py:1: DtypeWarning: Columns (13,16,36) have mixed types. Specify dtype option on import or set low_memory=False.
  validation = pd.read_csv(r'C:\Users\Ronit Jariwala\Documents\Stuff\ML Project\F1 Predictions\validation.csv')

   grid  positionText_x  points  laps  round  nationality  points_y  position  \
0     4              11    18.0    71     19            1      28.0         8
1     4              11    18.0    71     19            1      53.0         4
2     4              11    18.0    71     19            1      78.0         1
3     4              11    18.0    71     19            1      93.0         1
4     4              11    18.0    71     19            1     103.0         3

   wins  company  status
0     0        9      22
1     1        9      22
2     2        9      22
3     2        9      22
4     2        9      22

C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\2041131606.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  validation_cleaned[column] = label_encoder.fit_transform(validation_cleaned[column])
C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\2041131606.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  validation_cleaned[column] = label_encoder.fit_transform(validation_cleaned[column])
C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\2041131606.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  validation_cleaned[column] = label_encoder.fit_transform(validation_cleaned[column])
C:\Users\Ronit Jariwala\AppData\Local\Temp\ipykernel_16392\2041131606.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  validation_cleaned[column] = label_encoder.fit_transform(validation_cleaned[column])

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [24]:
from sklearn.metrics import mean_squared_error

In [25]:
X_train = train_cleaned.drop('position', axis=1)
y_train = train_cleaned['position']

X_test = test_cleaned

Decision Tree Classifier

In [26]:
# Initialize the model
dt_classifier = DecisionTreeClassifier(random_state=42)

# Fit the model
dt_classifier.fit(X_train, y_train)

# Predict on the test set
y_pred_dt = dt_classifier.predict(X_test)

In [27]:
# Predict on validation dataset
y_val_pred_dt = dt_classifier.predict(X_val)

In [28]:
# Finding RMSE for the predicted values on validation dataset
dt_rmse = np.sqrt(mean_squared_error(y_val, y_val_pred_dt))
print(f"Decision Tree RMSE: {dt_rmse}")

Decision Tree RMSE: 5.7278866028465805

Random Forest Classifier

In [29]:
X_train_small = X_train.sample(frac=0.2, random_state=42)
y_train_small = y_train.loc[X_train_small.index]

In [30]:
# Initialize the model
rf_classifier = RandomForestClassifier(n_estimators=10,max_depth=10,random_state=42)

# Fit the model
rf_classifier.fit(X_train_small, y_train_small)

# Predict on the test set
y_pred_rf = rf_classifier.predict(X_test)

In [31]:
# Predict on validation dataset
y_val_pred_rf = rf_classifier.predict(X_val)

In [32]:
# Finding RMSE for the predicted values on validation dataset
rf_rmse = np.sqrt(mean_squared_error(y_val, y_val_pred_rf))
print(f"Random Forest RMSE: {rf_rmse}")

Random Forest RMSE: 5.9648831092919465

Logistic Regression

In [33]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [34]:
from sklearn.linear_model import LogisticRegression
from sklearn.utils import resample

# (Optional) Downsample if training set is large
if len(X_train_scaled) > 50000:
    X_train_sampled, y_train_sampled = resample(
        X_train_scaled, y_train,
        replace=False,
        n_samples=50000,
        random_state=42
    )
else:
    X_train_sampled = X_train_scaled
    y_train_sampled = y_train

# Use solver suitable for large datasets and scale
logreg_classifier = LogisticRegression(
    solver='saga',       # better for large datasets
    max_iter=1000,
    random_state=42,
    n_jobs=-1             # use all CPU cores
)

# Fit and predict
logreg_classifier.fit(X_train_sampled, y_train_sampled)
y_pred_logreg = logreg_classifier.predict(X_test_scaled)

In [35]:
X_val_scaled = scaler.transform(X_val)

In [36]:
# Predict on validation dataset
y_val_pred_logreg = logreg_classifier.predict(X_val_scaled)

In [37]:
# Finding RMSE for the predicted values on validation dataset
lr_rmse = np.sqrt(mean_squared_error(y_val, y_val_pred_logreg))
print(f"Logistic Regression RMSE: {lr_rmse}")

Logistic Regression RMSE: 3.419936415179374

Exporting Predictions like sample submmission

In [38]:
result_ds = test['result_driver_standing']
dt_pred_df = pd.DataFrame({'position': y_pred_dt})
rf_pred_df = pd.DataFrame({'position': y_pred_rf})
lr_pred_df = pd.DataFrame({'position': y_pred_logreg})

In [39]:
dt_final = pd.concat([dt_pred_df,result_ds], axis=1)
rf_final = pd.concat([rf_pred_df,result_ds], axis=1)
lr_final = pd.concat([lr_pred_df,result_ds], axis=1)

In [40]:
dt_final.to_csv('dt_predictions.csv', index=False)
rf_final.to_csv('rf_predictions.csv', index=False)
lr_final.to_csv('lr_predictions.csv', index=False)